[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
O  = MyCompany
CN = nilesh.appperfect.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = nilesh.appperfect.com
DNS.2 = www.nilesh.appperfect.com
DNS.3 = localhost
IP.1  = 127.0.0.1
